
.marT15{
    margin-top: 15px;
}

.marR5{
    margin-right: 5px;
}
.textcls{
    padding-top: 5px;
    padding-bottom: 5px;
}
.aliCenter{
    align-items: center;
}

.pagination {
    display: flex;
    justify-content: center;
  }